<!DOCTYPE html>
<html>
<body>
    <form action="/insertEmp" method="post">
    Employee Id: <input type="text" name="empid" id="empid"><br>
    Employee Name: <input type="text" name="ename" id="ename"><br>
    Employee Salary: <input type="text" name="sal" id="sal"><br>
    <button type="submit" name="btn" id="btn" vaue="btn">Submit</button>
    </form>
    
</body>
</html>