<html>
<body>
    <form action="/updateEmp" method="post">
        Employee Id: <input type="text" name="empid" id="empid" value="<%=emp.empid%>" readonly><br>
        Employee Name: <input type="text" name="ename" id="ename" value="<%=emp.ename%>"><br>
        Employee Salary: <input type="text" name="sal" id="sal" value="<%=emp.sal%>"><br>
        <button type="submit" name="btn" id="btn" vaue="btn">Submit</button>

    </form>
</body>
</html>